body {
    display: grid;
    justify-items: center;
}

#logo {
    display: grid;
}
main>section>article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    justify-items: center;
}
img {
    max-width: 80%;
    object-fit: contain;
    max-width: 300px;
    max-height: 300px;
}
#team {

}
#product {
    
}
@media only screen and (max-width:400px) {
p {
    display: none;
}

}