
#logo {
    display: grid;
    max-height: 10vh;
}


img {

    object-fit: contain;
    max-width: 300px;
    max-height: 300px;
}
#team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 
    justify-items: center;
    align-items: center;
}
#team>section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
}
section>p {
    max-width: 70%;
}
#product>section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    align-items: center;
}
   

@media only screen and (max-width:425px) {
p {
    display: none;
}
}
@media only screen and (max-width:1233px) {
 #team>section {
    grid-template-columns: 1fr;
 }
}